<div class="" id="navbarSupportedContent">
    <ul id="login" class="navbar-nav ml-auto ">
        <li class="nav-item ">
            <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" id="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tools</a>
            <div class="dropdown-menu" aria-labelledby="">
                <a class="dropdown-item" href="/tools/loan-create">Loan Account</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/tools/loan-docs">Loan Documents</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/tools/dragonpay-ids">Dragonpay ID</a>
            </div>
        </li>
    </ul>
</div>